<div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end">
  <ng-container *ngIf="showNew">
    <div fxLayout="row" class='controlButton' (click)="newService.emit()">
      <mat-icon>add_circle</mat-icon>
      <span i18n fxHide.lt-md>New</span>
    </div>
  </ng-container>
  <ng-container *ngIf="showOpen">
    <div fxLayout="row" class='controlButton' (click)="open.click();">
      <mat-icon>file_upload</mat-icon>
      <span i18n fxHide.lt-md>Open</span>
    </div>
    <div fxLayout="row" class='controlButton' (click)="save.emit()">
      <mat-icon>add_circle</mat-icon>
      <span i18n fxHide.lt-md>Import</span>
    </div>
    <div fxLayout="row" class='controlButton' (click)="goBack();">
      <mat-icon>cancel</mat-icon>
      <span i18n fxHide.lt-md>Cancel</span>
    </div>
  </ng-container>
  <ng-container *ngIf="showEdit">
    <div fxLayout="row" class='controlButton' (click)="save.emit();">
      <mat-icon>save</mat-icon>
      <span i18n fxHide.lt-md>Save</span>
    </div>
    <div fxLayout="row" class='controlButton' (click)="reset.emit();">
      <mat-icon>restore</mat-icon>
      <span i18n fxHide.lt-md>Reset</span>
    </div>
    <div fxLayout="row" class='controlButton' (click)="goBack();">
      <mat-icon>cancel</mat-icon>
      <span i18n fxHide.lt-md>Cancel</span>
    </div>
  </ng-container>
  <ng-container *ngIf="showVersionControl">
    <div fxLayout="row" class='controlButton' id="commit" *ngIf="isAdmin() && hasChanges()" (click)="openModalCommit()">
      <mat-icon>input</mat-icon>
      <span i18n fxHide.lt-md>Commit</span>
    </div>
    <div fxLayout="row" class='controlButton' *ngIf="isAdmin() && unpublished()" id="publish" (click)="openModalPublish()">
      <mat-icon>launch</mat-icon>
      <span i18n fxHide.lt-md>Publish</span>
    </div>
    <div fxLayout="row" class='controlButton' *ngIf="!isAdmin() && hasChanges()" (click)="callSubmit()">
      <mat-icon>file_upload</mat-icon>
      <span i18n fxHide.lt-md>Submit</span>
    </div>
  </ng-container>
  <ng-container *ngIf="showRefresh">
    <div class='controlButton' (click)="refresh.emit()">
      <mat-icon>refresh</mat-icon>
    </div>
  </ng-container>
  <ng-container *ngIf="!showEdit && showBack">
    <div class='controlButton' (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </div>
  </ng-container>
  <ng-container *ngIf="showEditorOptions">
    <div class='controlButton' (click)="editorOptions.emit()">
      <mat-icon>more_vert</mat-icon>
    </div>
  </ng-container>
</div>
<input #open type="file" (change)="openFile.emit($event);" style="display:none;">

