<app-input field="expirationData" [change]="policy" [orig]="original">
  <mat-form-field class="textInput">
    <mat-placeholder i18n-placeholder="services.form.label.expirationPolicy.expirationDate">
      {{ messages.services_form_label_expirationPolicy_expirationDate }}
    </mat-placeholder>
    <input matInput [(ngModel)]="policy.expirationDate">
    <mat-hint align="end">
      <app-hint></app-hint>
    </mat-hint>
  </mat-form-field>
  <mat-icon appHelp
            i18n-matTooltip="services.form.tooltip.expirationPolicy.expirationDate"
            [matTooltip]="messages.services_form_tooltip_expirationPolicy_expirationDate">
  </mat-icon>
</app-input>

<app-input field="deleteWhenExpired" [change]="policy" [orig]="original">
  <mat-checkbox [(ngModel)]="policy.deleteWhenExpired">
    <ng-container i18n="services.form.label.expirationPolicy.deleteWhenExpired">
      {{ messages.services_form_label_expirationPolicy_deleteWhenExpired }}
    </ng-container>
    <mat-icon appHelp
              i18n-matTooltip="services.form.tooltip.expirationPolicy.deleteWhenExpired"
              [matTooltip]="messages.services_form_tooltip_expirationPolicy_deleteWhenExpired">
    </mat-icon>
    <mat-hint align="end">
      <app-hint></app-hint>
    </mat-hint>
  </mat-checkbox>
</app-input>

<app-input field="notifyWhenDeleted" [change]="policy"  [orig]="original">
  <mat-checkbox [(ngModel)]="policy.notifyWhenDeleted">
    <ng-container i18n="services.form.label.expirationPolicy.notifyWhenDeleted">
      {{ messages.services_form_label_expirationPolicy_notifyWhenDeleted }}
    </ng-container>
    <mat-icon appHelp
              i18n-matTooltip="services.form.tooltip.expirationPolicy.notifyWhenDeleted"
              [matTooltip]="messages.services_form_tooltip_expirationPolicy_notifyWhenDeleted">
    </mat-icon>
    <mat-hint align="end">
      <app-hint></app-hint>
    </mat-hint>
  </mat-checkbox>
</app-input>