<div>
  <h3 matDialogTitle i18n>
    <ng-container *ngIf="isAdmin" i18n>
      Commit Changes
    </ng-container>
    <ng-container *ngIf="!isAdmin" i18n>
      Submit Change Request
    </ng-container>
  </h3>
</div>
<mat-dialog-content>
  <mat-form-field style="width:400px;">
     <textarea matInput required rows="5"
               i18n-placeholder
               placeholder="Enter a message"
               [(ngModel)]="commitMessage">
    </textarea>
  </mat-form-field>
  <div *ngIf="isAdmin">
          <span i18n="management.services.table.modal.commit.listheader">
            {{ messages.management_services_table_modal_commit_listheader }}
          </span>
  </div>
  <div *ngIf="!isAdmin">
    <span i18n>Changes to be submitted:</span>
  </div>
  <ul *ngFor="let change of changes">
    <li>{{ change.changeType + " - " + change.fileName }}</li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions style="float:right;">
  <div>
    <button mat-button matDialogClose="CANCEL">
      <mat-icon>cancel</mat-icon>
      <ng-container i18n>Cancel</ng-container>
    </button>
    <button mat-button [matDialogClose]="commitMessage">
      <mat-icon>input</mat-icon>
      <span *ngIf="isAdmin">
            <ng-container i81n="management.services.table.modal.button.commit">
              {{ messages.management_services_table_modal_button_commit }}
            </ng-container>
          </span>
      <span *ngIf="!isAdmin">
            <ng-container i18n>Submit</ng-container>
          </span>
    </button>
  </div>
</mat-dialog-actions>

