<form #samlForm="ngForm">
  <mat-card class="tabCard">
    <mat-card-title>
      <h5 i18n>Saml Client - Metadata</h5>
    </mat-card-title>
    <div class="cardContent">
        <lib-metadata></lib-metadata>
     </div>
  </mat-card>

  <mat-card class="tabCard">
    <mat-card-title>
      <h5 i18n>SAML Client - Security</h5>
    </mat-card-title>
    <div class="cardContent">
      <lib-security></lib-security>
    </div>
  </mat-card>

  <mat-card class="tabCard">
    <mat-card-title>
      <h5 i18n>SAML Client - Optional Fields</h5>
    </mat-card-title>
    <div class="cardContent">
      <lib-optional></lib-optional>
    </div>
  </mat-card>

  <mat-card class="tabCard">
    <mat-card-title>
      <h5 i18n>SAML Client - Name ID</h5>
    </mat-card-title>
    <div class="cardContent">
      <lib-nameid></lib-nameid>
    </div>
  </mat-card>

  <mat-card class="tabCard">
    <mat-card-title>
      <h5 i18n>SAML Attribute Name Formats</h5>
    </mat-card-title>
    <div class="cardContent">
      <lib-samlservicespane></lib-samlservicespane>
    </div>
  </mat-card>
  <button type="submit" style="display: none" #submit></button>
</form>

