<div fxLayout="column" style="margin-left:10px;margin-right:10px;">
  <div fxLayout="row" style="margin-top: 10px;">
    <div fxLayout="row" fxFlex="25%">
      <mat-icon>code</mat-icon>
      <span style="font-size: 14px; font-weight: bold" i18n>Metadata</span>
    </div>
    <app-controls fxFlex="75%" fxGrow [showEdit]="changed && !isInCommon()"
                  (save)="save()"
                  (reset)="reset()"
                  [showEditorOptions]="!isInCommon()"
                  (editorOptions)="editor.showOptions()">
    </app-controls>
  </div>

  <div style="height:600px;">
    <lib-editor #editor [file]="getMetadata()" (changed)="change()" mode="xml" theme="eclipse" style="width:100%;height:100%;"></lib-editor>
  </div>
</div>
