<div [formGroup]="form">
  <lib-card heading="Basics">
    <lib-enabled *ngIf="!groovyAccessStrategy" [control]="form.serviceEnabled"></lib-enabled>
    <lib-servicetype [control]="form.serviceType"></lib-servicetype>

    <lib-service-id [control]="form.serviceId" *ngIf="!isOauth()"
                    [serviceType]="form.serviceType">
    </lib-service-id>
    <lib-redirect-uri *ngIf="isOauth()" [control]="form.serviceId"></lib-redirect-uri>
    <lib-servicename [control]="form.serviceName"></lib-servicename>
    <lib-servicedesc [control]="form.description"></lib-servicedesc>
    <lib-themeid [control]="form.theme"></lib-themeid>
  </lib-card>
  <lib-card heading="Reference Links">
    <lib-logo [control]="form.logo"></lib-logo>
    <lib-linkrefs [control]="form.informationUrl"></lib-linkrefs>
    <lib-privacy-url [control]="form.privacyUrl"></lib-privacy-url>
  </lib-card>
</div>
