<form #accessForm="ngForm">
  <mat-card class="tabCard">
    <mat-card-title>
      <h5>Type</h5>
    </mat-card-title>
    <div class="cardContent">
      <app-type (typeChange)="typeChange()"></app-type>
    </div>
  </mat-card>

  <mat-card class="tabCard" *ngIf="!groovyAccessStrategy">
    <mat-card-title>
      <h5>Service Access Strategy</h5>
    </mat-card-title>
    <div class="cardContent">
      <app-access-strategy></app-access-strategy>
    </div>
  </mat-card>

  <mat-card class="tabCard" *ngIf="!groovyAccessStrategy">
    <mat-card-title>
      <h5>Required Attributes</h5>
    </mat-card-title>
    <div class="cardContent">
      <app-required></app-required>
    </div>
  </mat-card>

  <mat-card class="tabCard" *ngIf="!groovyAccessStrategy">
    <mat-card-title>
      <h5>Delegated Authentication</h5>
    </mat-card-title>
    <div class="cardContent">
      <app-delegated></app-delegated>
    </div>
  </mat-card>

  <mat-card class="tabCard" *ngIf="!groovyAccessStrategy">
    <mat-card-title>
      <h5>Rejected Attributes</h5>
    </mat-card-title>
    <div class="cardContent">
      <app-attributemapping [attributes]="data.service.accessStrategy.rejectedAttributes"
                            [attributeNames]="data.formData.availableAttributes">
      </app-attributemapping>
    </div>
  </mat-card>

  <button type="submit" display="display:none;" #submit></button>
</form>

