<div fxLayout="column" style="margin-left:10px;margin-right:10px;">
  <div fxLayout="row" style="margin-top: 10px;">
    <div fxLayout="row" fxFlex="25%">
      <mat-icon style="padding-top: 3px;">view_quilt</mat-icon>
      <span style="font-size: 14px; font-weight: bold; white-space: nowrap" i18n>Audit Log</span>
    </div>
    <div fxFlex="75%" fxGrow>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end">
        <div fxLayout="row" style="cursor: pointer" (click)="search()">
          <mat-icon>search</mat-icon>
          <span fxHide.lt-md>Search</span>
        </div>
        <div fxLayout="row" style="cursor: pointer" *ngIf="dataSource.data" (click)="download()">
          <mat-icon>file_download</mat-icon>
          <span fxHide.lt-md>Download</span>
        </div>
      </div>
    </div>
  </div>

  <mat-form-field floatLabel="never">
    <input matInput (keyup)="doFilter(filter.value)" #filter placeholder="Filter" >
  </mat-form-field>

  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef [ngClass]="'actionWidth'">
        <ng-container>&nbsp;</ng-container>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [ngClass]="'actionWidth'">
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="principal">
      <mat-header-cell *matHeaderCellDef [ngClass]="'principalWidth'" mat-sort-header="principal">
        <ng-container i18n>Principal</ng-container>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [ngClass]="'principalWidth'">
        {{ row.principal }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="resource">
      <mat-header-cell *matHeaderCellDef [ngClass]="'resourceWidth'" mat-sort-header="resourceOperatedUpon">
        <ng-container i18n>Resource</ng-container>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [ngClass]="'resourceWidth'">
        {{ row.resourceOperatedUpon }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actionPerformed">
      <mat-header-cell *matHeaderCellDef [ngClass]="'actionPerformedWidth'" mat-sort-header="actionPerformed">
        <ng-container i18n>Action</ng-container>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [ngClass]="'actionPerformedWidth'">
        {{ row.actionPerformed }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="timestamp">
      <mat-header-cell *matHeaderCellDef [ngClass]="'timestampWidth'" mat-sort-header="whenActionWasPerformed">
        <ng-container i18n>Timestamp</ng-container>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [ngClass]="'timestampWidth'">
        {{ row.whenActionWasPerformed | date:'yyyy-MM-dd HH:mm:ss:SSS' }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="clientip">
      <mat-header-cell *matHeaderCellDef [ngClass]="'clientipWidth'" mat-sort-header="clientIpAddress">
        <ng-container i18n>Client IP</ng-container>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [ngClass]="'clientipWidth'">
        {{ row.clientIpAddress }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="server">
      <mat-header-cell *matHeaderCellDef [ngClass]="'serverWidth'" mat-sort-header="serverIpAddress">
        <ng-container i18n>Server</ng-container>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [ngClass]="'serverWidth'">
        {{ row.serverIpAddress }}
      </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <lib-paginator></lib-paginator>
</div>
