<app-input field="informationUrl" [change]="data.service" [orig]="data.original">
  <mat-form-field class="textInput">
    <mat-placeholder i18n-placeholder="services.form.label.informationUrl">
      {{ messages.services_form_label_informationUrl }}
    </mat-placeholder>
    <input matInput pattern="https?://[a-zA-Z0-9.]+:?[0-9]*/.*"
           [(ngModel)]="data.service.informationUrl" spellcheck="false">
    <mat-error>You have entered an invalid URL</mat-error>
    <mat-hint align="end">
      <app-hint></app-hint>
    </mat-hint>
  </mat-form-field>
  <mat-icon appHelp
           i18n-matTooltip="services.form.tooltip.informationUrl"
           [matTooltip]="messages.services_form_tooltip_informationUrl">
  </mat-icon>
</app-input>

<app-input field="privacyUrl" [change]="data.service" [orig]="data.original">
  <mat-form-field class="textInput">
    <mat-placeholder i18n-placeholder="services.form.label.privacyUrl">
     {{ messages.services_form_label_privacyUrl }}
    </mat-placeholder>
    <input matInput pattern="https?://[a-zA-Z0-9.]+:?[0-9]*/.*"
           [(ngModel)]="data.service.privacyUrl" spellcheck="false">
    <mat-error>You have entered an invalid URL</mat-error>
    <mat-hint align="end">
      <app-hint></app-hint>
    </mat-hint>
  </mat-form-field>
  <mat-icon appHelp
           i18n-matTooltip="services.form.tooltip.privacyUrl"
           [matTooltip]="messages.services_form_tooltip_privacyUrl">
  </mat-icon>
</app-input>
