<app-input field="serviceId" [change]="data.service" [orig]="data.diff">
  <mat-form-field class="textInput">
    <mat-placeholder>
      {{ placeholder() }}
    </mat-placeholder>
    <input matInput id="serviceId" required
           appInvalidDomain [data]="data"
           [(ngModel)]="data.service.serviceId">
    <mat-error i18n *ngIf="data.invalidRegEx">The entered service id is not a valid regular expression</mat-error>
    <mat-error i18n *ngIf="data.invalidDomain">You do not have permissions to create a service for the domain entered in the service id</mat-error>
    <mat-hint align="end">
      <app-hint></app-hint>
    </mat-hint>
  </mat-form-field>
  <mat-icon appHelp
           i18n-matTooltip="services.form.label.serviceId"
           [matTooltip]="tooltip()">
  </mat-icon>
</app-input>
