<div>
  <mat-form-field class="textInput" #serviceUrl>
    <input matInput #serviceId="ngModel" name="serviceId" id="serviceId" i18n-placeholder required
           [placeholder]="placeholder()" [appInvalidDomain]="validUrl"
           [(ngModel)]="data.service.serviceId">
    <mat-error i18n *ngIf="serviceId.hasError('invalidRegex')">The entered service id is not a valid regular expression</mat-error>
    <mat-error i18n *ngIf="serviceId.hasError('invalidDomain')">You do not have permissions to create a service for the domain entered in the service id</mat-error>
  </mat-form-field>
  <mat-icon style="font-size: medium;"
           i18n-matTooltip="services.form.label.serviceId"
           [matTooltip]="tooltip()">help
  </mat-icon>
</div>
