<div style="position:fixed;width: 100%; z-index: 1000;background-color: #f2f2f2; top: 51px" autocomplete="off" novalidate="novalidate">

  <div style="display:flex;">
    <div style="padding-top: 3px;">
      <div>
        <mat-icon style="padding-top: 3px;">add_circle</mat-icon>
        <h4 style="display: inline;position: relative;top: -5px;">
          <ng-container i18n>
            Add CAS Service
          </ng-container>
        </h4>
      </div>
    </div>
  </div>
  <mat-card class="tabCard">
    <div class="cardContent">
      <form #wizzardForm="ngForm">
        <mat-horizontal-stepper style="width: 600px">
          <mat-step label="Service Info">
            <app-serviceid [validUrl]="validateDomain()"></app-serviceid>
            <app-servicename></app-servicename>
            <app-servicedesc></app-servicedesc>
            <div style="display: flex; flex-direction: row;margin-top: 20px; width: 510px">
              <div style="flex: 1 1 auto;"></div>
              <button mat-icon-button matStepperNext type="button">
                <mat-icon>arrow_forward</mat-icon>
              </button>
            </div>
          </mat-step>
          <mat-step label="Contacts">
            <app-contacts></app-contacts>
            <div style="display: flex; flex-direction: row; margin-top: 30px; width: 510px">
              <button mat-icon-button matStepperPrevious type="button">
                <mat-icon>arrow_back</mat-icon>
              </button>
              <div style="flex: 1 1 auto"></div>
              <button mat-icon-button matStepperNext type="button">
                <mat-icon>arrow_forward</mat-icon>
              </button>
            </div>
          </mat-step>
          <mat-step label="Advanced">
            <div style="padding-bottom: 15px;">
              <mat-checkbox name="requiresDuo" [(ngModel)]="requiresDuo" (change)="changeDuo()">
                <ng-container i18n>Requires Duo</ng-container>
                <mat-icon style="font-size: medium"
                          i18n-matTooltip
                          matTooltip="Checking this box will require all uses who sign into this to perform second factor authentication through Duo">help
                </mat-icon>
              </mat-checkbox>
            </div>
            <div style="padding-bottom: 15px;">
              <mat-checkbox name="ssoEnabled" [(ngModel)]="data.service.accessStrategy.ssoEnabled">
                <ng-container i18n="services.form.label.sas.ssoEnabled">
                  {{ messages.services_form_label_sas_ssoEnabled }}
                </ng-container>
              </mat-checkbox>
              <mat-icon style="font-size: medium"
                        i18n-matTooltip="services.form.tooltip.sas.ssoEnabled"
                        [matTooltip]="messages.services_form_tooltip_sas_ssoEnabled">help
              </mat-icon>
            </div>
            <app-logouttypeeval></app-logouttypeeval>
            <app-logout></app-logout>
            <div style="display: flex; flex-direction: row; margin-top: 20px; width: 510px;">
              <button mat-icon-button matStepperPrevious type="button">
                <mat-icon>arrow_back</mat-icon>
              </button>
              <div style="flex: 1 1 auto;"></div>
              <button mat-icon-button matStepperNext type="button">
                <mat-icon>arrow_forward</mat-icon>
              </button>
            </div>
          </mat-step>
          <mat-step label="Submit">
            <div>
              Confirm you submission for adding this service to the CAS Service Registry by pressing Submit.
            </div>
            <div style="display: flex; flex-direction: row; margin-top: 20px; width: 510px;">
              <button mat-icon-button matStepperPrevious type="button">
                <mat-icon>arrow_back</mat-icon>
              </button>
              <div style="flex: 1 1 auto;"></div>
              <button mat-flat-button (click)="submitForm()">Submit</button>
            </div>
            <div></div>
          </mat-step>
        </mat-horizontal-stepper>
        <button type="submit" style="display:none;" #submit></button>
      </form>
    </div>
  </mat-card>
</div>
