<div>
  <mat-card>
    <mat-card-title>SSO Session Details</mat-card-title>
    <div>
    <lib-input>
      <mat-form-field class="textInput">
        <mat-placeholder i18n>Principal</mat-placeholder>
        <input matInput [ngModel]="detail.authenticatedPrincipal">
      </mat-form-field>
    </lib-input>
    <lib-input>
      <mat-form-field class="textInput">
        <mat-placeholder i18n>Date</mat-placeholder>
        <input matInput [ngModel]="detail.authenticationDate">
      </mat-form-field>
    </lib-input>
    <lib-input>
      <mat-form-field class="textInput">
        <mat-placeholder i18n>Proxied</mat-placeholder>
        <input matInput [ngModel]="detail.proxied">
      </mat-form-field>
    </lib-input>
    <lib-input>
      <mat-form-field class="textInput">
        <mat-placeholder i18n>Number of Uses</mat-placeholder>
        <input matInput [ngModel]="detail.numberOfUses">
      </mat-form-field>
    </lib-input>
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef [ngClass]="'idWidth'">
          ST
        </mat-header-cell>
        <mat-cell *matCellDef="let row" [ngClass]="'idWidth'">
            {{ row.id }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="format">
        <mat-header-cell *matHeaderCellDef [ngClass]="'formatWidth'">
          Format
        </mat-header-cell>
        <mat-cell *matCellDef="let row" [ngClass]="'formatWidth'">
          {{ row.format }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="url">
        <mat-header-cell *matHeaderCellDef [ngClass]="'urlWidth'">
          Original URL
        </mat-header-cell>
        <mat-cell *matCellDef="let row" [ngClass]="'urlWidth'">
          {{ row.originalUrl }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="source">
        <mat-header-cell *matHeaderCellDef [ngClass]="'sourceWidth'">
          Source
        </mat-header-cell>
        <mat-cell *matCellDef="let row" [ngClass]="'sourceWidth'">
          {{ row.source }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    </div>
  </mat-card>
</div>
