<div>
  <h3 matDialogTitle>
    <ng-container i18n>
      Session Timed Out
    </ng-container>
  </h3>
</div>
<mat-dialog-content>
  <ng-container i18n>
    Your session has timed out or an unrecoverable error has been encountered. Please Refresh your browser to continue.
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions style="float:right;">
  <div>
    <button mat-button matDialogClose>
      <mat-icon>ok</mat-icon>
      <ng-container i18n>OK</ng-container>
    </button>
  </div>
</mat-dialog-actions>
