<div>
  <h3 matDialogTitle i18n>Are you still there?</h3>
</div>
<mat-dialog-content>
  <ng-container i18n>
    Your session is about to expire.  Click OK to continue working or Logout to ext CAS Management.  You will automatically be logged out in 30 seconds.
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions style="float:right;">
  <div>
    <button mat-button matDialogClose="true">
      <mat-icon>exit_to_app</mat-icon>
      <ng-container i18n>Logout</ng-container>
    </button>
    <button mat-button matDialogClose>
      <mat-icon>thumb_up_alt</mat-icon>
      <ng-container i18n>OK</ng-container>
    </button>
  </div>
</mat-dialog-actions>
