<form #attrReleaseForm="ngForm">
    <div *ngIf="!isOidc && !isWsFed">
        <mat-card class="tabCard">
            <mat-card-title>
                <h5 i18n>Attribute Release Policy</h5>
            </mat-card-title>
            <div class="cardContent">
                <lib-attribute-release-policies></lib-attribute-release-policies>
            </div>
        </mat-card>
        <mat-card class="tabCard">
            <mat-card-title>
                <h5 i18n>Attribute Release Options</h5>
            </mat-card-title>
            <div class="cardContent">
                <lib-attribute-release-checks></lib-attribute-release-checks>
            </div>
        </mat-card>
        <mat-card class="tabCard">
            <mat-card-title>
                <h5 i18n>Attribute Release Consent</h5>
            </mat-card-title>
            <div class="cardContent">
                <lib-attribute-release-consent></lib-attribute-release-consent>
            </div>
        </mat-card>
        <mat-card class="tabCard">
            <mat-card-title>
                <h5 i18n>Attribute Value Filters</h5>
            </mat-card-title>
            <div class="cardContent">
                <lib-attribute-release-filters></lib-attribute-release-filters>
            </div>
        </mat-card>
        <mat-card class="tabCard">
            <mat-card-title>
                <h5>Principal Attribute Repository</h5>
            </mat-card-title>
            <div class="cardContent">
                <lib-attribute-release-principal-repo></lib-attribute-release-principal-repo>
            </div>
        </mat-card>
    </div>


    <div *ngIf="isOidc">
        <mat-card class="tabCard">
            <mat-card-title>
                <h5 i18n>Attribute Release Options</h5>
            </mat-card-title>
            <div class="cardContent">
                <lib-oidc-options></lib-oidc-options>
            </div>
        </mat-card>
    </div>

    <div *ngIf="isWsFed">
        <mat-card class="tabCard">
            <mat-card-title>
                <h5 i18n>Attribute Release Options</h5>
            </mat-card-title>
            <div class="cardContent">
                <lib-wsfed-options></lib-wsfed-options>
            </div>
        </mat-card>
    </div>
  <button type="submit" style="display:none;" #submit></button>
</form>
