<app-input field="groovyScript" [change]="policy" [orig]="original">
  <mat-form-field class="textInput">
    <mat-placeholder i18n-placeholder="services.form.label.multiauth.groovy.scriptFile">
      {{ messages.services_form_label_multiauth_groovy_scriptFile }}
    </mat-placeholder>
    <input matInput [(ngModel)]="policy.groovyScript">
  </mat-form-field>
  <mat-hint align="end">
    <app-hint></app-hint>
  </mat-hint>
  <mat-icon appHelp
            i18n-matTooltip="services.form.tooltip.multiauth.grrovy.scriptFile"
            [matTooltip]="messages.services_form_tooltip_multiauth_groovy_scriptFile">
  </mat-icon>
</app-input>
