<mat-card class="card">
  <mat-card-header>
    <mat-card-title> <mat-slide-toggle [checked]="cacheTimer" (change)="update($event)"></mat-slide-toggle>Cache</mat-card-title>
  </mat-card-header>
  <mat-card-content class="cardContent">
    <table style="width:100%">
      <thead>
        <th>Name</th>
        <th>Size</th>
        <th>Memory</th>
        <th>Used</th>
      </thead>
      <tbody>
        <tr *ngFor="let map of mapKeys(); let i = index">
          <td>{{ map }}</td>
          <td style="text-align: center">{{ mapSize(map)}}</td>
          <td style="text-align: center;">{{ mapMemory(map)}}</td>
          <td style="text-align: center">{{mapUsed(map)}}</td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
