<div style="position:fixed;width: 100%; z-index: 1000;background-color: #f2f2f2; top: 51px" autocomplete="off" novalidate="novalidate">

  <div style="display:flex;">
    <div style="padding-top: 3px;">
      <div>
        <mat-icon style="padding-top: 3px;">build</mat-icon>
        <h4 style="display: inline;position: relative;top: -5px;">
          <ng-container i18n>
            Edit Service
          </ng-container>
        </h4>
      </div>
    </div>
    <div style="flex: 1 1 auto">
    </div>
    <div>
      <app-controls [showVersionControl]="false" [showEdit]="true" [saveEnabled]="!changed()" (save)="save()"></app-controls>
    </div>
  </div>
  <mat-card class="tabCard">
    <div class="cardContent">
      <form #editForm="ngForm">
        <mat-tab-group>
          <mat-tab label="Service Info">
            <div style="padding-bottom: 50px; padding-top: 10px;">
              <app-serviceid [validUrl]="validateDomain()"></app-serviceid>
              <app-servicename></app-servicename>
              <app-servicedesc></app-servicedesc>
            </div>
          </mat-tab>
          <mat-tab label="Contacts">
            <div style="padding-bottom: 50px;pading-top: 10px">
              <app-contacts></app-contacts>
            </div>
          </mat-tab>
          <mat-tab label="Advanced">
            <div style="padding-bottom: 50px">
              <div style="padding-top: 10px; padding-bottom: 10px;">
                <mat-checkbox name="requiresDuo" [(ngModel)]="requiresDuo" (change)="changeDuo()">
                  <ng-container i18n>Requires Duo</ng-container>
                  <mat-icon style="font-size: medium"
                            i18n-matTooltip
                            matTooltip="Checking this box will require all uses who sign into this to perform second factor authentication through Duo">help
                  </mat-icon>
                </mat-checkbox>
              </div>
              <app-logout></app-logout>
              <app-logouttypeeval></app-logouttypeeval>
            </div>
          </mat-tab>
        </mat-tab-group>
        <button type="submit" style="display:none;" #submit></button>
      </form>
    </div>
  </mat-card>
</div>
