<div fxLayout="column">
  <div fxLayout="row" style="margin-top: 10px;">
    <div fxFlex="grow">
      <div fxLayout="row" fxLayoutAlign="end">
        <button mat-button (click)="resolve()">Resolve</button>
      </div>
    </div>
  </div>

  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef [ngClass]="'actionWidth'">
        <ng-container>&nbsp;</ng-container>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [ngClass]="'actionWidth'">
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="key">
      <mat-header-cell *matHeaderCellDef [ngClass]="'keyWidth'">
        <ng-container i18n>Key</ng-container>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [ngClass]="'keyWidth'">
        {{ row.key }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="values">
      <mat-header-cell *matHeaderCellDef [ngClass]="'valuesWidth'">
        <ng-container i18n>Values</ng-container>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [ngClass]="'valuesWidth'">
        {{ row.values }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <lib-paginator></lib-paginator>
</div>
