<div style="display:flex;margin-bottom:10px;margin-left:25px;margin-right:25px;">
  <div style="padding-top: 10px;">
    <mat-icon style="padding-top: 3px;">code</mat-icon>
    <h4 style="display: inline;position: relative;top: -5px;">
      <ng-container i18n>
        View Yaml
      </ng-container>
    </h4>
  </div>
  <div style="flex: 1 1 auto"></div>
  <div>
    <app-controls></app-controls>
  </div>
</div>

<div style="height:600px;margin-right:25px;margin-left:25px;">
  <app-editor [file]="file" mode="yaml" theme="eclipse" style="width:100%;height:100%;"></app-editor>
</div>
