<div class="header">
  <div style="margin-right:10px;min-width:200px;max-width:200px;width:100%;">
    <a class="brand" href="manage.html" target="_self" id="homepageUrlLink">
      <img src="images/logo_cas.png" alt="apereo CAS logo" />
      <h4>
        <ng-container i18n="management.services.header.apptitle">
          {{ messages.management_services_header_apptitle }}
        </ng-container>
      </h4>
    </a>
  </div>
  <div class="searchbox">
    <input #search class="search" placeholder="Search Services" (keyup)="doSearch($event.target.value)">
  </div>
  <div>
    <button *ngIf="controlsService.status && controlsService.status.pendingSubmits" mat-icon-button>
      <mat-icon [matTooltip]="messages.management_services_header_pendingSubmits">notifications</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="links">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</div>

<mat-menu #links>
  <button mat-menu-item *ngIf="appService.config.mgmtType === 'DOMAIN' " routerLink="/domains">
    <mat-icon>apps</mat-icon>
    <span i18n>Domains</span>
  </button>
  <button *ngIf="appService.config.mgmtType === 'DEFAULT'" mat-menu-item routerLink="/services/defualt">
    <mat-icon>apps</mat-icon>
    <span i18n>Services</span>
  </button>
  <button *ngIf="appService.config.delegatedMgmt && isAdmin()" mat-menu-item routerLink="/pulls">
    <mat-icon>file_download</mat-icon>
    <ng-container i18n>Pull Requests</ng-container>
  </button>
  <button *ngIf="appService.config.delegatedMgmt && !isAdmin()" mat-menu-item routerLink="/submits">
    <mat-icon>file_upload</mat-icon>
    <ng-container i18n>Submit Requests</ng-container>
  </button>
  <button mat-menu-item routerLink="/form/-1">
    <mat-icon>add_circle</mat-icon>
    <span i18n="managment.services.header.navitem.addNewService">
        {{ messages.management_services_header_navbar_navitem_addNewService }}
      </span>
  </button>
  <button mat-menu-item routerLink="/import" *ngIf="isAdmin()">
    <mat-icon>add_circle</mat-icon>
    <ng-container i18n>Import Service</ng-container>
  </button>
  <button *ngIf="appService.config.versionControl" mat-menu-item routerLink="/localChanges">
    <mat-icon>build</mat-icon>
    <ng-container i18n>Working Changes</ng-container>
  </button>
  <button *ngIf="isAdmin() && isSyncScript()" mat-menu-item (click)="sync()">
    <mat-icon>sync</mat-icon>
    <ng-container i18n>Synchronize</ng-container>
  </button>
  <button *ngIf="isAdmin()" mat-menu-item routerLink="/repo-history">
    <mat-icon>history</mat-icon>
    <ng-container i18n>History</ng-container>
  </button>
  <button mat-menu-item target="_self" id="logoutUrlLink" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <ng-container i18n="management.services.header.navbar.navitem.logout">
      {{ messages.management_services_header_navbar_navitem_logout }}
    </ng-container>
  </button>
</mat-menu>

