<div fxLayout="column" style="margin-left:10px;margin-right:10px;">
  <div fxLayout="row" style="margin-top: 10px">
    <div fxLayout="row" fxFlex="25%">
      <mat-icon>code</mat-icon>
      <span style="font-weight: bold; font-size: 14px; white-space: nowrap" i18n>View Yaml</span>
    </div>
    <app-controls fxFlex="75%" fxGrow [showEdit]="changed"
                  (save)="save()"
                  (reset)="reset()"
                  [showEditorOptions]="true"
                  (editorOptions)="editor.showOptions()">
    </app-controls>
  </div>

  <div style="height:600px;">
    <lib-editor #editor [file]="file" (changed)="change()" mode="yaml" theme="eclipse" style="width:100%;height:100%;"></lib-editor>
  </div>
</div>
