<form #advancedForm="ngForm">
    <mat-card class="tabCard">
      <mat-card-title>
        <h5>Advanced</h5>
      </mat-card-title>
      <div class="cardContent">
        <lib-evalorder></lib-evalorder>
        <lib-reqhandlers></lib-reqhandlers>
        <lib-responsetype></lib-responsetype>
      </div>
    </mat-card>
    <mat-card class="tabCard">
      <mat-card-title>
          <h5>Public Key Options</h5>
      </mat-card-title>
      <div class="cardContent">
        <lib-pubkey></lib-pubkey>
      </div>
    </mat-card>
    <button type="submit" style="display:none;" #submit></button>
</form>
