<div [formGroup]="advanced.form">
    <mat-card class="tabCard">
      <mat-card-title>
        <h5 i18n>Advanced</h5>
      </mat-card-title>
      <div class="cardContent">
        <lib-evalorder [control]="advanced.get('evalOrder')"></lib-evalorder>
        <lib-reqhandlers [control]="advanced.get('required')"></lib-reqhandlers>
        <lib-responsetype [control]="advanced.get('responseType')"></lib-responsetype>
      </div>
    </mat-card>
    <mat-card class="tabCard">
      <mat-card-title>
          <h5 i18n>Public Key Options</h5>
      </mat-card-title>
      <div class="cardContent">
        <lib-pubkey [control]="advanced.get('publicKey')"></lib-pubkey>
      </div>
    </mat-card>
</div>
