<app-input field="endpoint" [change]="policy" [orig]="original">
  <mat-form-field class="textInput">
    <mat-placeholder i18n-placeholder="services.form.label.attrRelease.policies.restful">
      {{ messages.services_form_label_attrRelease_policies_restful }}
    </mat-placeholder>
    <input matInput [(ngModel)]="policy.endpoint">
    <mat-hint align="end">
      <app-hint></app-hint>
    </mat-hint>
  </mat-form-field>
  <mat-icon appHelp
            i18n-matTooltip="services.form.tooltip.attrRelease.policies.restful"
            [matTooltip]="messages.services_form_tooltip_attrRelease_policies_restful">
  </mat-icon>
</app-input>
