<div [formGroup]="tokens">
  <lib-card i18n-heading heading="Code Expiration Policy" [collapse]="true">
    <lib-code-expiration [control]="codeExpiration"></lib-code-expiration>
  </lib-card>

  <lib-card i18n-heading heading="Access Token Expiration Policy" [collapse]="true">
    <lib-access-token-expiration [control]="accessTokenExpiration"></lib-access-token-expiration>
  </lib-card>

  <lib-card i18n-heading heading="Refresh Token Expiration Policy" [collapse]="true">
    <lib-refresh-token-expiration [control]="refreshTokenExpiration"></lib-refresh-token-expiration>
  </lib-card>

  <lib-card i18n-heading heading="Device Token Expiration Policy" [collapse]="true">
    <lib-device-token-expiration [control]="deviceTokenExpiration"></lib-device-token-expiration>
  </lib-card>
</div>
