<div class="header">
  <div style="margin-right:10px;min-width:200px;max-width:200px;width:100%;">
    <a class="brand" href="manage.html" target="_self" id="homepageUrlLink">
      <img src="images/logo_cas.png" alt="apereo CAS logo" />
      <h4>
        <ng-container i18n="management.services.header.apptitle">
          {{ messages.management_services_header_apptitle }}
        </ng-container>
      </h4>
    </a>
  </div>
  <div class="searchbox">
  </div>
  <div>
    <button mat-icon-button [matMenuTriggerFor]="links">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</div>

<mat-menu #links>
  <button mat-menu-item routerLink="/services">
    <mat-icon>apps</mat-icon>
    <span i18n>Your Services</span>
  </button>
  <button mat-menu-item routerLink="/wizzard">
    <mat-icon>add_circle</mat-icon>
    <span i18n>Add Service</span>
  </button>
</mat-menu>
