<app-input field="location" [change]="data.service.publicKey" [orig]="data.original && data.original.publicKey">
  <mat-form-field class="textInput">
    <input matInput [required]="data.service.usernameAttributeProvider.encryptUserName ||
                               data.service.attributeReleasePolicy.authorizedToReleaseCredentialPassword ||
                               data.service.attributeReleasePolicy.authorizedToReleaseProxyGrantingTicket"
           i18n-placeholder="services.form.label.pubKey.location"
           [placeholder]="messages.services_form_label_pubKey_location"
           [(ngModel)]="location"
           (change)="changeLocation()">
    <mat-hint align="end">
      <app-hint></app-hint>
    </mat-hint>
  </mat-form-field>
  <mat-icon style="font-size: medium"
           i18n-matTooltip="services.form.tooltip.pubKey.location"
           [matTooltip]="messages.services_form_tooltip_pubKey_location">help
  </mat-icon>
</app-input>

<app-input field="algorithm" [change]="data.service.publicKey" [orig]="data.original && data.original.publicKey">
  <mat-form-field class="textInput">
    <mat-select i18n-placeholder="services.form.label.pubKey.algorithm"
                [placeholder]="messages.services_form_label_pubKey_algorithm"
                [(ngModel)]="algorithm"
                (selectionChange)="changeAlgorithm()">
      <mat-option></mat-option>
      <mat-option value="RSA">RSA</mat-option>
    </mat-select>
    <mat-hint align="end">
      <app-hint></app-hint>
    </mat-hint>
  </mat-form-field>
  <mat-icon style="font-size: medium"
           i18n-matTooltip="services.form.tooltip.pubKey.algorithm"
           [matTooltip]="messages.services_form_tooltip_pubKey_algorithm">help
  </mat-icon>
</app-input>
