<app-attributemapping [attributes]="accessStrategy.requiredAttributes"
                      [attributeNames]="formData.availableAttributes">
</app-attributemapping>
<app-input field="caseInsensitive" [change]="accessStrategy" [orig]="data.diff.accessStrategy">
    <mat-checkbox [(ngModel)]="accessStrategy.caseInsensitive">
        <ng-container i18n="services.form.label.sas.caseinsensitive">
            {{ messages.services_form_label_sas_caseinsensitive }}
        </ng-container>
    </mat-checkbox>
    <mat-icon appHelp
              i18n-matTooltip="services.form.tooltip.sas.unauthorizedredirecturl"
              [matTooltip]="messages.services_form_tooltip_sas_unauthorizedredirecturl">
    </mat-icon>
    <mat-hint align="end">
      <app-hint></app-hint>
    </mat-hint>
</app-input>
