<div style="display:flex;margin-bottom:10px;margin-left: 10px;margin-right:10px;">
  <div style="padding-top: 10px;">
    <mat-icon style="padding-top: 3px;">build</mat-icon>
    <h4 style="display: inline;position: relative;top: -5px;" i18n>Domains</h4>
  </div>
  <div style="flex: 1 1 auto;text-align: center">
  </div>
  <div>
    <app-controls></app-controls>
  </div>
</div>

<div style="display: flex; flex-direction: column; margin-right:10px;margin-left:10px;">
<mat-table #table [dataSource]="dataSource">

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef [ngClass]="'actionWidth'">
      <ng-container i18n>
        &nbsp;
      </ng-container>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [ngClass]="'actionWidth'">
      <button mat-icon-button [matMenuTriggerFor]="serviceMenu" (click)="selectedItem = row">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>
      <mat-form-field floatLabel="never" style="width:100%;min-width:250px;max-width:750px;">
        <input matInput (keyup)="doFilter(filter.value)" #filter placeholder="Filter Domains" >
      </mat-form-field>
    </mat-header-cell>
    <mat-cell *matCellDef="let row" [ngClass]="'nameWidth'">
      <a (click)="view(row.name)">
        {{ row.name }}
      </a>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

  <lib-paginator></lib-paginator>
</div>




<mat-menu #serviceMenu>
  <button mat-menu-item (click)="view(selectedItem.name)">
    <mat-icon>edit</mat-icon>
    <ng-container i18n>Edit</ng-container>
  </button>
</mat-menu>
