<div [formGroup]="basics">
  <app-card i18n-heading heading="Basics">
    <lib-enabled *ngIf="!groovyAccessStrategy" [control]="basics.get('enabled')"></lib-enabled>
    <lib-servicetype [control]="basics.get('serviceType')"></lib-servicetype>
    <lib-service-id [control]="basics.get('serviceId')"
                    [serviceType]="basics.get('serviceType')">
    </lib-service-id>
    <lib-servicename [control]="basics.get('serviceName')"></lib-servicename>
    <lib-servicedesc [control]="basics.get('description')"></lib-servicedesc>
    <lib-themeid [control]="basics.get('theme')"></lib-themeid>
  </app-card>
  <app-card i18n-heading heading="Reference Links">
    <lib-logo [control]="basics.get('logo')"></lib-logo>
    <lib-linkrefs [control]="basics.get('informationUrl')"></lib-linkrefs>
    <lib-privacy-url [control]="basics.get('privacyUrl')"></lib-privacy-url>
  </app-card>
</div>
