<div [formGroup]="accessStrategy.form">
  <mat-card class="tabCard">
    <mat-card-title>
      <h5 i18n>Type</h5>
    </mat-card-title>
    <div class="cardContent">
      <lib-type [control]="accessStrategy.form"></lib-type>
    </div>
  </mat-card>

  <mat-card class="tabCard" *ngIf="!groovyAccessStrategy">
    <mat-card-title>
      <h5 i18n>Service Access Strategy</h5>
    </mat-card-title>
    <div class="cardContent">
      <lib-access-strategy [control]="accessStrategy.get('access')"></lib-access-strategy>
    </div>
  </mat-card>

  <mat-card class="tabCard" *ngIf="!groovyAccessStrategy">
    <mat-card-title>
      <h5 i18n>Required Attributes</h5>
    </mat-card-title>
    <div class="cardContent">
      <lib-required [control]="accessStrategy.get('required')"></lib-required>
    </div>
  </mat-card>

  <mat-card class="tabCard" *ngIf="!groovyAccessStrategy">
    <mat-card-title>
      <h5 i18n>Delegated Authentication</h5>
    </mat-card-title>
    <div class="cardContent">
      <lib-delegated [control]="accessStrategy.get('allowedProviders')"></lib-delegated>
    </div>
  </mat-card>

  <mat-card class="tabCard" *ngIf="!groovyAccessStrategy">
    <mat-card-title>
      <h5 i18n>Rejected Attributes</h5>
    </mat-card-title>
    <div class="cardContent">
      <lib-attributes [control]="accessStrategy.get('rejected')"
                      arrayName="attributes"
                            [keys]="formData.options.availableAttributes">
      </lib-attributes>
    </div>
  </mat-card>
</div>

