<mat-radio-group [(ngModel)]="type" (change)="changeType()">

  <mat-radio-button [value]="TYPE.DEFAULT">
    <ng-container i18n="services.form.label.uap.default">
      {{ messages.services_form_label_uap_default }}
    </ng-container>
  </mat-radio-button>

  <mat-radio-button [value]="TYPE.ANONYMOUS">
    <ng-container i18n="services.form.label.uap.anon">
      {{ messages.services_form_label_uap_anon }}
    </ng-container>
  </mat-radio-button>

  <mat-radio-button [value]="TYPE.PRINCIPAL_ATTRIBUTE">
    <ng-container i18n="services.form.label.uap.principleAtt">
      {{ messages.services_form_label_uap_principleAtt }}
    </ng-container>
  </mat-radio-button>

</mat-radio-group>

<ng-container *ngIf="type == TYPE.ANONYMOUS">
  <app-anonymous></app-anonymous>
</ng-container>

<ng-container *ngIf="type == TYPE.PRINCIPAL_ATTRIBUTE">
  <app-principal></app-principal>
</ng-container>


