<app-input field="excludeDefaultAttributes" [change]="policy"
           [orig]="data.diff.attributeReleasePolicy">
  <mat-checkbox [(ngModel)]="policy.excludeDefaultAttributes">
    <ng-container i18n="services.form.label.attrRelease.excludeDefault">
      {{ messages.services_form_label_attrRelease_excludeDefault }}
    </ng-container>
    <mat-icon appHelp
             i18n-matTooltip="services.form.tooltip.attrRelease.excludeDefault"
             [matTooltip]="messages.services_form_tooltip_attrRelease_excludeDefault">
    </mat-icon>
    <mat-hint align="end">
      <app-hint></app-hint>
    </mat-hint>
  </mat-checkbox>
</app-input>

<app-input field="authorizedToReleaseCredentialPassword"
           [change]="policy"
           [orig]="data.diff.attributeReleasePolicy">
  <mat-checkbox [(ngModel)]="policy.authorizedToReleaseCredentialPassword">
    <ng-container i18n="services.form.label.attrRelease.releaseCredPassword">
      {{ messages.services_form_label_attrRelease_releaseCredPassword }}
    </ng-container>
    <mat-icon style="font-size: medium"
             i18n-matTooltip="services.form.tooltip.attrRelease.releaseCredPassword"
             [matTooltip]="messages.services_form_tooltip_attrRelease_releaseCredPassword">help
    </mat-icon>
    <mat-hint align="end">
      <app-hint></app-hint>
    </mat-hint>
  </mat-checkbox>
</app-input>

<app-input field="authorizedToReleaseProxyGrantingTicket"
           [change]="policy"
           [orig]="data.diff.attributeReleasePolicy">
  <mat-checkbox [(ngModel)]="policy.authorizedToReleaseProxyGrantingTicket">
    <ng-container i18n="services.form.label.attrRelease.releaseProxyTicket">
      {{ messages.services_form_label_attrRelease_releaseProxyTicket }}
    </ng-container>
    <mat-icon appHelp
             i18n-matTooltip="services.form.tooltip.attrRelease.releaseProxyTicket"
             [matTooltip]="messages.services_form_tooltip_attrRelease_releaseProxyTicket">
    </mat-icon>
    <mat-hint align="end">
      <app-hint></app-hint>
    </mat-hint>
  </mat-checkbox>
</app-input>

<app-input field="authorizedToReleaseAuthenticationAttributes"
           [change]="policy"
           [orig]="data.diff.attributeReleasePolicy">
  <mat-checkbox [(ngModel)]="policy.authorizedToReleaseAuthenticationAttributes">
    <ng-container i18n="services.form.label.attrRelease.releaseAuthenticationAttributes">
      {{ messages.services_form_label_attrRelease_releaseAuthenticationAttributes }}
    </ng-container>
    <mat-icon appHelp
             i18n-matTooltip="services.form.tooltip.attrRelease.releaseAuthenticationAttributes"
             [matTooltip]="messages.services_form_tooltip_attrRelease_releaseAuthenticationAttributes">
    </mat-icon>
    <mat-hint align="end">
      <app-hint></app-hint>
    </mat-hint>
  </mat-checkbox>
</app-input>
