<div [formGroup]="oidc">
  <app-card i18n-heading heading="OIDC Client Options">
    <lib-oidcclient [control]="oidc"></lib-oidcclient>
  </app-card>

  <app-card i18n-heading heading="JWKS Options">
    <lib-jwks [control]="oidc"></lib-jwks>
  </app-card>

  <app-card i18n-heading heading="ID Token Options">
    <lib-idtoken [control]="oidc"></lib-idtoken>
  </app-card>

  <app-card i18n-heading heading="User Info Options">
    <lib-userinfo [control]="oidc"></lib-userinfo>
  </app-card>
</div>
