<div>
  <mat-radio-group [(ngModel)]="type" (change)="changeType()">

    <mat-radio-button [value]="TYPE.DEFAULT">
      <ng-container i18n="services.form.label.attrRelease.principleAttRepo.default">
        {{ messages.services_form_label_attrRelease_principleAttRepo_default }}
      </ng-container>
    </mat-radio-button>

    <mat-radio-button [value]="TYPE.CACHING">
      <ng-container i18n="services.form.label.attrRelease.principleAttRepo.cached">
        {{ messages.services_form_label_attrRelease_principleAttRepo_cached }}
      </ng-container>
    </mat-radio-button>

  </mat-radio-group>
</div>

<ng-container *ngIf="type == TYPE.CACHING">
  <app-input field="timeUnit" [change]="repo" [orig]="original">
    <mat-form-field class="textInput">
      <mat-placeholder i18n-placeholder="services.form.label.attrRelease.principleAttRepo.cached.timeUnit">
        {{ messages.services_form_label_attrRelease_principleAttRepo_cached_timeUnit }}
      </mat-placeholder>
      <mat-select required
                  [(ngModel)]="repo.timeUnit">
        <mat-option *ngFor="let opt of formData.timeUnits" [value]="opt">
          {{ opt }}
        </mat-option>
      </mat-select>
      <mat-hint align="end">
        <app-hint></app-hint>
      </mat-hint>
    </mat-form-field>
    <mat-icon appHelp
             i18n-matTooltip="services.form.tooltip.attrRelease.principleAttRepo.cached.timeUnit"
             [matTooltip]="messages.services_form_tooltip_attrRelease_principleAttRepo_cached_timeUnit">
    </mat-icon>
  </app-input>

  <app-input field="expiration" [change]="repo" [orig]="original">
    <mat-form-field class="textInput">
      <mat-placeholder i18n-placeholder="services.form.label.attrRelease.principleAttRepo.cached.expiration">
        {{ messages.services_form_label_attrRelease_principleAttRepo_cached_expiration }}
      </mat-placeholder>
      <input matInput
             [(ngModel)]="repo.expiration">
      <mat-hint align="end">
        <app-hint></app-hint>
      </mat-hint>
    </mat-form-field>
    <mat-icon appHelp
             i18n-matTooltip="services.form.tooltip.attrRelease.principleAttRepo.cached.expiration"
             [matTooltip]="messages.services_form_tooltip_attrRelease_principleAttRepo_cached_expiration">
    </mat-icon>
  </app-input>

  <app-input field="mergingStrategy" [change]="repo" [orig]="original">
    <mat-form-field class="textInput">
      <mat-placeholder i18n-placeholder="services.form.label.attrRelease.principleAttRepo.cached.mergeStrategy">
       {{ messages.services_form_label_attrRelease_principleAttRepo_cached_mergeStrategy }}
      </mat-placeholder>
      <mat-select required
                  [(ngModel)]="repo.mergingStrategy">
        <mat-option *ngFor="let opt of formData.mergingStrategies" [value]="opt">
          {{ opt }}
        </mat-option>
      </mat-select>
      <mat-hint align="end">
        <app-hint></app-hint>
      </mat-hint>
    </mat-form-field>
    <mat-icon appHelp
             i18n-matTooltip="services.form.tooltip.attrRelease.principleAttRepo.cached.mergeStrategy"
             [matTooltip]="messages.services_form_tooltip_attrRelease_principleAttRepo_cached_mergeStrategy">
    </mat-icon>
  </app-input>
</ng-container>
