<div fxLayout="column">

  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef [ngClass]="'actionWidth'">
        <ng-container i18n>&nbsp;</ng-container>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [ngClass]="'actionWidth'">
        <button style="left:-10px;" mat-icon-button [matMenuTriggerFor]="serviceMenu" (click)="selectedItem = row">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'nameWidth'">
        <ng-container i18n>Name</ng-container>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [ngClass]="'nameWidth'">
        {{ row.name }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="serviceId">
      <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'serviceIdWidth'">
        <ng-container i18n>Service Url</ng-container>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [ngClass]="'serviceIdWidth'">
        {{ row.serviceId }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="serviceType">
      <mat-header-cell *matHeaderCellDef mat-sort-header="type" [ngClass]="'serviceTypeWidth'">
        <ng-container i18n>
          Service Type
        </ng-container>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [ngClass]="'serviceTypeWidth'">
        {{ row.type }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="submitted">
      <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'submittedWidth'">
        <ng-container i18n>Submitted</ng-container>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" [ngClass]="'submittedWidth'">
        {{ row.submitted }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="row.status"></mat-row>
  </mat-table>

  <lib-paginator></lib-paginator>
</div>

<mat-menu #serviceMenu>
  <button mat-menu-item (click)="edit()">
    <mat-icon>edit</mat-icon>
    <ng-container i18n>View/Edit</ng-container>
  </button>
  <button mat-menu-item (click)="remove()">
    <mat-icon>cancel</mat-icon>
    <ng-container i18n>Cancel</ng-container>
  </button>
</mat-menu>


