<div>
  <h3 matDialogTitle i18n>
    <ng-container *ngIf="!change">Service Submitted</ng-container>
    <ng-container *ngIf="change">Change Submitted</ng-container>
  </h3>
</div>
<mat-dialog-content>
  <div>
    <span *ngIf="!change" i18n>You have successfully submitted your service to the CAS Service Registry. A Cas Administrator will review your submission shortly, and you will be notified by email when it has been accepted and published to CAS Servers.</span>
    <span *ngIf="change" i18n>You have successfully submitted your change to the CAS Service Registry. A Cas Administrator will review your submission shortly, and you will be notified by email when it has been accepted and published to CAS Servers.</span>
  </div>
</mat-dialog-content>
<mat-dialog-actions style="float:right;">
  <div>
    <button mat-button matDialogClose="true">
      <ng-container i18n>OK</ng-container>
    </button>
  </div>
</mat-dialog-actions>