<div style="position:fixed;width: 100%; z-index: 1000;background-color: #f2f2f2; top: 51px" autocomplete="off" novalidate="novalidate">

  <div style="display:flex;">
    <div style="padding-top: 3px;">
      <div>
        <mat-icon style="padding-top: 3px;">add_circle</mat-icon>
        <h4 style="display: inline;position: relative;top: -5px;">
          <ng-container i18n>
            Add CAS Service
          </ng-container>
        </h4>
      </div>
    </div>
  </div>
  <mat-card class="tabCard">
    <div class="cardContent">
      <div>
  You have successfully submitted your service to the CAS Service Registry.
  A Cas Administrator will review your submission shortly, and you will be notified by email when it has been
  acceppted and published to CAS Servers.
      </div>
      <div style="height:31px; margin-top: 20px;">
        <button style="float: right;" mat-flat-button routerLink="/form">Add Service</button>
      </div>
    </div>
  </mat-card>
</div>