<app-input>
  <mat-form-field class="textInput">
    <mat-select
             placeholder="Policy"
             [(ngModel)]="type"
             (selectionChange)="changeType()">
      <mat-option *ngFor="let opt of types; let i = index" [value]="opt">
        {{ display[i] }}
      </mat-option>
    </mat-select>
    <mat-hint align="end">
      <app-hint></app-hint>
    </mat-hint>
  </mat-form-field>
</app-input>

<ng-container *ngIf="type == TYPE.SCRIPT">
  <app-script></app-script>
</ng-container>

<ng-container *ngIf="type == TYPE.GROOVY">
  <app-groovy></app-groovy>
</ng-container>

<ng-container *ngIf="(type == TYPE.RETURN_ALLOWED || type == TYPE.METADATA) && !isEmpty( formData.availableAttributes )">
  <app-allowed></app-allowed>
</ng-container>

<ng-container *ngIf="type == TYPE.RETURN_MAPPED">
  <app-mapped></app-mapped>
</ng-container>

<ng-container *ngIf="type == TYPE.METADATA" style="padding-top:25px;">
  <app-metadata></app-metadata>
</ng-container>

<ng-container *ngIf="type == TYPE.RESTFUL">
  <app-restful></app-restful>
</ng-container>

<ng-container *ngIf="type == TYPE.GROOVY_SAML">
  <app-groovy-saml></app-groovy-saml>
</ng-container>

