<app-input field="signAssertions" [change]="service" [orig]="data.diff">
  <mat-checkbox [(ngModel)]="service.signAssertions">
    <ng-container i18n="services.form.label.saml.signassertions">
      {{ messages.services_form_label_saml_signassertions }}
    </ng-container>
    <mat-icon appHelp
              i18n-matTooltip="services.form.tooltip.saml.signassertions"
              [matTooltip]="messages.services_form_tooltip_saml_signassertions">
    </mat-icon>
    <mat-hint align="end">
      <app-hint></app-hint>
    </mat-hint>
  </mat-checkbox>
</app-input>

<app-input field="signResponses" [change]="service" [orig]="data.diff">
  <mat-checkbox [(ngModel)]="service.signResponses">
    <ng-container i18n="services.form.label.saml.signresponses">
      {{ messages.services_form_label_saml_signresponses }}
    </ng-container>
    <mat-icon appHelp
              i18n-matTooltip="services.form.tooltip.saml.signresponses"
              [matTooltip]="messages.services_form_tooltip_saml_signresponses">
    </mat-icon>
    <mat-hint align="end">
      <app-hint></app-hint>
    </mat-hint>
  </mat-checkbox>
</app-input>

<app-input style="padding-bottom: 10px;"
           field="encryptAssertions" [change]="service" [orig]="data.diff">
  <mat-checkbox [(ngModel)]="service.encryptAssertions">
    <ng-container i18n="services.form.label.saml.encryptassertions">
      {{ messages.services_form_label_saml_encryptassertions }}
    </ng-container>
    <mat-icon appHelp
              i18n-matTooltip="services.form.tooltip.saml.encrpytassertions"
              [matTooltip]="messages.services_form_tooltip_saml_encryptassertions">
    </mat-icon>
    <mat-hint align="end">
      <app-hint></app-hint>
    </mat-hint>
  </mat-checkbox>
</app-input>

<app-input field="signingCredentialType" [change]="service" [orig]="data.diff">
  <mat-form-field class="textInput">
    <mat-placeholder i18n-placeholder="services.form.label.saml.signingCredentialType">
      {{ messages.services_form_label_saml_signingCredentialType }}
    </mat-placeholder>
    <mat-select [(ngModel)]="service.signingCredentialType">
      <mat-option *ngFor="let opt of data.formData.samlCredentialTypes" [value]="opt">
        {{ opt }}
      </mat-option>
    </mat-select>
    <mat-hint align="end">
      <app-hint></app-hint>
    </mat-hint>
  </mat-form-field>
  <mat-icon appHelp
            i18n-matTooltip="services.form.tooltip.saml.signingCredentialType"
            [matTooltip]="messages.services_form_tooltip_saml_signingCredentialType">
  </mat-icon>
</app-input>

<app-input field="requiredAuthenticationContextClass" [change]="service" [orig]="data.diff">
  <mat-form-field class="textInput">
    <mat-placeholder i18n-placeholder="services.form.label.saml.authenticationcontextclass">
      {{ messages.services_form_label_saml_authenticationcontextclass }}
    </mat-placeholder>
    <input matInput [(ngModel)]="service.requiredAuthenticationContextClass">
    <mat-hint align="end">
      <app-hint></app-hint>
    </mat-hint>
  </mat-form-field>
  <mat-icon appHelp
            i18n-matTooltip="services.form.tooltip.saml.authenticationcontextclass"
            [matTooltip]="messages.services_form_tooltip_saml_authenticationcontextclass">
  </mat-icon>
</app-input>
