<mat-card class="tabCard">
  <mat-card-title>
    <div style="display:flex; flex-direction: row">
      <div style="flex: 1 1 auto;">
        <h5 i18n>{{ heading }}</h5>
      </div>
      <div *ngIf="collapse" style="flex: 0 0 30px;margin-top:auto;margin-bottom:auto;" (click)="showContent = !showContent">
        <mat-icon *ngIf="showContent">expand_less</mat-icon>
        <mat-icon *ngIf="!showContent">expand_more</mat-icon>
      </div>
    </div>
  </mat-card-title>
  <div class="cardContent" *ngIf="showContent">
    <ng-content></ng-content>
  </div>
</mat-card>
